h3{
    font-size: 18px !important;
}

h2{
    margin-top: 0px !important;
    padding-top: 0px !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    font-size: 28px !important;
}

.Row{
 margin-top: 5% !important;
}

label{
    color: black !important;
}


.styles_overlay__CLSq-{
    z-index: 2000 !important;
}

select{
    background: white;
    color: #DE7C4C;
    border-radius: 20px;
    padding: 3.5px;

    
}

select:focus{
   border-color:  #DE7C4C;
   border-radius: 20px !important;
   outline:none;
-webkit-box-shadow: -1px 0px 30px 3px #DE7C4C;
-moz-box-shadow: -1px 0px 30px 3px #DE7C4C;
box-shadow: -1px 0px 30px 3px #DE7C4C;
}

option{
    border-color:  #DE7C4C !important;
    outline:0px !important;
    background: #454548;
    color: white;
    font-size:29px;
    border-radius: 20px;
    margin: 12px !important;
    padding: 12px !important;
}

.hoverdiv:hover{
    background-color: violet;
}

option:hover{
    background-color: darkblue !important;
}

.onoffswitch {
    position: relative; width: 116px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 41px; padding: 0; line-height: 41px;
    font-size: 25px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Si";
    padding-left: 14px;
    background-color: #EEEEEE; color: #020303;
}
.onoffswitch-inner:after {
    content: "No";
    padding-right: 14px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 38px; margin: 1.5px;
    background: #A1A1A1;
    position: absolute; top: 0; bottom: 0;
    right: 71px;
    border: 2px solid #FFFFFF; border-radius: 50px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color: #DE7C4C; 
}
